<!-- <p>Customer Management</p> -->

<!-- <div class="container">
    <h1>Customer Management System</h1>
    <app-customer-form (customerAdded)="onCustomerAdded($event)"></app-customer-form>
    <app-customer-list [customers]="customers"></app-customer-list>
  </div>
   -->

   <!-- <div class="container">
    <h1>Customer Management System</h1> -->
  
    <!-- Navigation Links -->
    <!-- <nav>
      <a routerLink="/customers" routerLinkActive="active">Customer List</a>
      <a routerLink="/add-customer" routerLinkActive="active">Add Customer</a>
    </nav> -->
  
    <!-- Render Components Based on Route -->
    <!-- <router-outlet></router-outlet>
  </div> -->
  

  <header>
    <h1>{{ title }}</h1>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
